@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Bienvenidos a la tienda de AppStore, aquí podrás encontrar una gran variedad de aplicaciones para tu dispositivo. Explora nuestras categorías 
    y descubre las últimas novedades en el mundo de las aplicaciones móviles. ¡Disfruta de tu experiencia de compra en AppStore! 
</body>
</html>