@model AppStore.Models.Domain.Categoria

@{
    ViewData["Title"] = "Agregar Libro";
}

<form class="w-40" asp-action="Add" method="post">

    <h2 class="pb-10">@ViewData["Title"]</h2>

    <div class="input-container">
        <label asp-for="Nombre" class="w-40">Nombre</label>
        <input type="text" asp-for="Nombre" class="input" />
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="Nombre"></span>
    </div>
    
    @if (TempData["msg"] != null)
    {
        <div class="alert mb-1">
            @TempData["msg"]
        </div>
    }

    <div class="input-container">
        <button type="submit" class="btn btn-default">Guardar</button>
        <a href="/Categoria/CategoriaList" class="btn btn-sec">Ver Todo</a>
    </div>

</form>
