@model AppStore.Models.DTO.CategoriaListVm

@{
    ViewData["Title"] = "Lista de Libros";
}

<div class="tbl-container">
    <h2 class="pb-10">Administración de Categorías</h2>

    <table class="tbl">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var categoria in Model.CategoriasList!)
            {
                <tr>
                    <td>@categoria.Nombre</td>
                    <td>
                        <a href="~/Categoria/Edit?id=@categoria.Id" class="btn btn-default">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="~/Categoria/Delete?id=@categoria.Id" onclick="return confirm('¿Estás seguro de que quieres eliminar esta categoria? Al eliminarla, eliminas esas categorias de los libros');" class="btn btn-danger">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="input-container">
        <a href="~/Categoria/Add" class="btn btn-sec">Agregar Nueva Categoría</a>
    </div>

</div>